[package]
name = "nurl"
version = "0.3.13"
authors = ["figsoda <figsoda@pm.me>"]
edition = "2021"
description = "Generate Nix fetcher calls from repository URLs"
readme = "README.md"
homepage = "https://github.com/nix-community/nurl"
repository = "https://github.com/nix-community/nurl"
license = "MPL-2.0"
keywords = ["cli", "fetch", "git", "nix", "prefetch"]
categories = ["command-line-utilities"]

[dependencies]
anyhow = "1.0.78"
bstr = "1.8.0"
data-encoding = "2.5.0"
enum_dispatch = "0.3.12"
gix-url = "0.26.1"
is-terminal = "0.4.10"
itertools = "0.12.0"
nix-compat = { git = "https://code.tvl.fyi/depot.git:/tvix/nix-compat.git" }
owo-colors = { version = "4.0.0", features = ["supports-colors"] }
rustc-hash = "1.1.0"
serde = { version = "1.0.195", features = ["derive"] }
serde_json = "1.0.113"
ureq = { version = "2.9.1", features = ["json"] }

[dependencies.clap]
version = "4.4.17"
features = ["cargo", "derive", "unicode", "wrap_help"]

[build-dependencies]
clap = { version = "4.4.17", features = ["derive"] }
clap_complete = "4.4.7"
clap_mangen = "0.2.17"

[dev-dependencies]
assert_cmd = "2.0.12"
nu-glob = "0.88.1"
trycmd = "0.14.19"

[profile.release]
lto = true
panic = "abort"
codegen-units = 1
